<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>LearnLink</title>

  <meta name="description" content="Snow - Clean & Minimal Portfolio HTML template.">
  <meta name="keywords" content="portfolio, clean, minimal, blog, template, portfolio website">
  <meta name="author" content="nK">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="assets/css/rate.css">

  <link rel="icon" type="image/png" href="assets/images/favicon.png">

  <link rel="stylesheet" href="assets/css/combined.csss">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>



  <!-- START: Styles -->


  <!-- Google Fonts -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Geologica:wght@500;600&family=Heebo&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="assets/css/combined.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!-- END: Styles -->


</head>

<body style="background-color: #fff;">

  <header class="nk-header">
    <!--  START: Navbar -->
    <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-transparent nk-navbar-white-text-on-top">
      <div class="container">
        <div class="nk-nav-table">
          <a href="index.html" class="nk-nav-logo">
            <img src="assets/images/blcck.png" alt="" width="85" class="nk-nav-logo-onscroll">
            <img src="assets/images/blcck.png" alt="" width="85">
          </a>

          <div class="search-container">
            <form action="/search" method="get">
              <input class="search" id="searchleft" type="search" name="q" placeholder="Search Category">
              <label style="color: #31dcfe;" class="button searchbutton" for="searchleft"><span
                  class="mglass">&#9906;</span></label>
            </form>
          </div>

          <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">

            <li>
              <a href="portfolio.html" style="color:#31dcfe; font-weight:750 !important;">Become an
                Instructor</a>
            </li>

            <li>
              <a href="index.html#about"><i class="bi bi-cart-check"></i></a>
            </li>

            <li>
              <a href="portfolio.html" style="font-weight:750 !important;">Log In</a>
            </li>
            <li>
              <a href="blog.html" style="font-weight:700 !important;">Sign Up</a>
            </li>
          </ul>

          <ul class="nk-nav nk-nav-right nk-nav-icons">
            <li class="single-icon hidden-lg-up">
              <a href="#" class="nk-navbar-full-toggle">
                <span class="nk-icon-burger">
                  <span class="nk-t-1"></span>
                  <span class="nk-t-2"></span>
                  <span class="nk-t-3"></span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END: Navbar -->
  </header>

  <!-- Hero Section -->

  <!-- Main container -->



  <div class="container" style="margin-top: 130px;">
    <div class="container text-center">
    <iframe src="https://drive.google.com/file/d/1LA2aHIlIa1fvfp7TiWyQPHw5-7iO5HDL/preview" width="100%" height="480"
      allow="autoplay"></iframe>
    </div>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="comment-tab" data-bs-toggle="tab" data-bs-target="#comment-tab-pane"
            type="button" role="tab" aria-controls="comment-tab-pane" aria-selected="true">Comment</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="rating-tab" data-bs-toggle="tab" data-bs-target="#rating-tab-pane" type="button"
            role="tab" aria-controls="rating-tab-pane" aria-selected="false">Ratings</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="comment-tab-pane" role="tabpanel" aria-labelledby="comment-tab"
          tabindex="0">
    
    
          <div class="container">
            <div class="row">
    
              <div class="col-10 mx-auto">
                <form class="form">
                  <div class="form-group">
    
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment" required></textarea>
                    <br>
    
                  </div>
                </form>
                <input class="btn btn-info" type="submit" value="Submit">
                <p id="warning"></p>
              </div>
            </div>
    
    
          <div class="row">
            <div class="col-md-8">
              <div class="media g-mb-30 media-comment">
                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
                  src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Image Description">
                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                  <div class="g-mb-15">
                    <h5 class="h5 g-color-gray-dark-v1 mb-0">John Doe</h5>
                    <span class="g-color-gray-dark-v4 g-font-size-12">5 days ago</span>
                    <div class="ratings">
                      <!-- Add your rating HTML here -->
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star unchecked"></span>
                    </div>
                  </div>
    
                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                    odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue
                    felis in faucibus ras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
    
    
                </div>
              </div>
            </div>
    
            <div class="col-md-8">
              <div class="media g-mb-30 media-comment">
                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
                  src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Image Description">
                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                  <div class="g-mb-15">
                    <h5 class="h5 g-color-gray-dark-v1 mb-0">John Doe</h5>
                    <span class="g-color-gray-dark-v4 g-font-size-12">5 days ago</span>
                    <div class="ratings">
                      <!-- Add your rating HTML here -->
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star unchecked"></span>
                    </div>
                  </div>
    
                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                    odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue
                    felis in faucibus ras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
    
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    
  </div>


          <!-- Sticky button -->
          <div class="sticky-bottom text-end">
            <button class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight"><i class="bi bi-journal-bookmark-fill me-3"></i>Lessons</button>
    
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
    
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body text-start">
                <ul class="nav flex-column">
                  <h2>JavaScript Fundamentals</h2>
                  <hr>
                  <button class="accordion">Lesson 1</button>
                  <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat.</p>
                  </div>
    
                  <button class="accordion">Lesson 2</button>
                  <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat.</p>
                  </div>
    
                  <button class="accordion">Lesson 3</button>
                  <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat.</p>
                  </div>
                </ul>
              </div>
            </div>
          </div>

<div class="tab-pane fade" id="rating-tab-pane" role="tabpanel" aria-labelledby="rating-tab" tabindex="0">
 <h3 style="text-align: center; color: black;">Ratings and Reviews</h3>
  <div class="rate">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
  </div>
</div>
</div>

  <!-- START: Footer -->
  <footer class="nk-footer">
    <div class="nk-footer-cont">
      <div class="container text-xs-center">
        <div class="nk-footer-social">
          <ul>
            <li><a href="https://twitter.com/nkdevv"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/unvabdesign/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://dribbble.com/_nK"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="https://www.instagram.com/unvab/"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>

        <div class="nk-footer-text">
          <p>2024 &copy; LearnL!nk</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- END: Footer -->




  <!-- START: Scripts -->

  <script src="assets/js/combined.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const accordionItems = document.querySelectorAll('.accordion-item');

      accordionItems.forEach(item => {
        item.addEventListener('click', () => {
          item.classList.toggle('open');

          // Close other open items
          accordionItems.forEach(otherItem => {
            if (otherItem !== item && otherItem.classList.contains('open')) {
              otherItem.classList.remove('open');
            }
          });
        });
      });
    });
  </script>


  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
  </script>

  <!-- END: Scripts -->




  <script>

    document.getElementById("submit").addEventListener("click", function (event) {
      event.preventDefault();

      let validate = false;

      let commentContent = document.getElementById("form-comment"),
        commentHeader = document.getElementById("form-username"),
        commentError = document.getElementById("error-comment"),
        headerError = document.getElementById("error-username");

      if (commentHeader.value.length == 0 || commentContent.value.length == 0) {
        if (commentHeader.value.length == 0) {
          commentHeader.classList.add("is-invalid");
          headerError.classList.remove("invisible");
          headerError.classList.add("visible");
          headerError.innerHTML = "Username field is required.";
        } else {
          commentHeader.classList.remove("is-invalid");
          headerError.classList.remove("visible");
          headerError.classList.add("invisible");
        }
        if (commentContent.value.length == 0) {
          commentContent.classList.add("is-invalid");
          commentError.classList.remove("invisible");
          commentError.classList.add("visible");
          commentError.innerHTML = "Comment field is required.";
        } else {
          commentContent.classList.remove("is-invalid");
          commentError.classList.remove("visible");
          commentError.classList.add("invisible");
        }
      } else {
        commentHeader.classList.remove("is-invalid");
        commentContent.classList.remove("is-invalid");

        commentError.classList.remove("invisible");
        headerError.classList.remove("invisible");
        commentError.classList.remove("visible");
        headerError.classList.remove("visible");

        let comment = `<div id="comment" class="mt-2">
            <div class="card p-4">
              <!--<button type="button" class="btn btn-sm btn-dark">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>-->
              <div class="media">
                <img src="https://pbs.twimg.com/profile_images/1259926100261601280/OgmLtUZJ_400x400.png" class="mr-3 rounded" style="height: 64px; width: 64px;">
                  <div class="media-body">
                    <h5 class="mt-1">${commentHeader.value}</h5>
                    <div id="commentContent">${commentContent.value}</div>
                  </div>
                </div>
              </div>
          </div>`;

        let comments = document.getElementById("comments");
        comments.innerHTML += comment;
      }


    });
  </script>




</body>

</html>